.search-engine {
  border: 5px solid #ffffff;
  margin-top: 20px 20px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  border: #ffffff;
  border-radius: 20px;
  padding: 50px;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header {
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.44);
  border-radius: 10px;
  margin: 20px 10px;
  padding: 20px 10px;
  color: #fff;
  background-color: #3353dd;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

form {
  text-align: center;
  border-radius: 100px;
  padding: 10px 10px;
}
form .btn {
  background-color: #fab624;
  border: solid 2px #fab624;
  border-radius: 100px;
  padding: 10px;
  font-weight: 500;
}

form a {
  color: #fab624;
}

form .keywords {
  border: solid 2px #3353dd;
  border-radius: 100px;
  padding: 10px 20px;
}

.results {
  margin: 10px 20px;
  font-size: 15px;
}

button {
  font-size: 15px;
  padding: 10px 20px;
  background-color: #fab624;
  border-radius: 100px;
  border: 2px solid #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

button:hover {
  background-color: #e49d03;
  border: solid 2px #e49d03;
  font-size: 15px;
}

footer {
  font-size: 15px;
  border: 5px solid #ffffff;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

footer a {
  color: #3353dd;
}

footer a:hover {
  color: #e49d03;
}
